/**************** Buttons Style ***************/

.btnStyle{
    margin: 2vh;
    height: 7vh;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    background-color: #FF8C2D;
    -webkit-box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    -moz-box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    color: #ffffff;
    cursor: pointer;
    /* https://www.cssmatic.com/box-shadow */
}

.btnStyle:hover {
    background-color: #FFB87E;
}

.btnNormal{
    width: 35vw;
}

.btnStyle a {
    text-decoration: none;
    color: #ffffff;
}

.categoryItem a {
    text-decoration: none;
    color: #000000;
}

.footerButtons {
    display: flex;
    justify-content: center;
}


