.categoryHomepageContainer {
    /* position: absolute; */
    margin-top: 45%;


}

.categoryHomepageTitle{
    display: flex;
    justify-content: center;
}

.categoryHomepageGrid{
    display: grid;
    height: 35%;
    width: 83%;
    grid-template-columns: auto auto auto;
    grid-row-gap: 1vh;
    grid-column-gap: 1vw;
    position: relative;
    margin: 0 auto;
}

.categoryHomepageItem{
    margin: 0;
    height: 13vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.categoryHomepageImage{
    display: block;
    height: auto;
    max-height: 8vh;
    margin: 0 auto;
}

.categoryHomepageItem p{
    width: 100%;
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
}