.categoryHomepageContainer {
    margin-top: 4%;
}

.categoryHomepageTitle{
    display: flex;
    justify-content: center;
}

.categoryHomepageGrid{
    display: grid;
    height: auto;
    width: 75%;
    grid-template-columns: auto auto auto;
    grid-row-gap: 2vh;
    grid-column-gap: 2vw;
    margin: auto;
    margin-top: 8%
}

.categoryHomepageItem{
    margin: 0;
    height: 14vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: rgb(184, 182, 182, 0.19);
}

.categoryHomepageImage{
    height: auto;
    max-height: 80%;
    padding-top: 13%;
}

/* .categoryHomepageItem p {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
    color: black;
} */

@media only screen and (min-width: 850px) {
    .categoryHomepageGrid{
        grid-template-columns: auto auto auto auto auto auto; 
    }
    .categoryHomepageImage{
        height: auto; 
        max-height: 75%; 
        padding-top: 13%; 
    }

}

@media only screen and (min-width: 768px) {
    .categoryHomepageGrid{
        grid-template-columns: auto auto auto auto auto auto; 
    }

}