.filtersContainer {
    height: 100vh;
    background-color: #d0d0d0;
}

.filtersHeaderContainer {
    height: 8vh;
    width: 100vw;
    background-color: #FF8C2D;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filtersHeaderContainer div {
    margin-left: 3vw;
    margin-right: 3vw;
}

/* .filterPanelContainer {
    margin: 10vh 10vw;
} */
/********** Accordian Menu **********/

.filterMenu {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
}

.active:hover {
    background-color: #ccc;
}

.filterPanel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;            
    overflow-y: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.active {
    display: block;
    transition: 0.5s ease-out;
    max-height: 10vh ; 
}

.plus {
    content: '\02795'; 
    font-size: 13px;
    color: #ffffff;
    float: right;
    margin-left: 5px;
}

.minus {
    content: "\2796";
}
