
.searchBar{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 70%;
}

input.searchArea {
    width: 65%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.btnSearch {
    cursor: pointer;
}

.icon{
    z-index: 2;
    position: relative;
}
