.heroImage {
    position: absolute;
    top: 25%;
    left: 25%;
}

.searchBar{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    position: absolute;
    top: 45%;
}

input.searchArea {
    width: 65vw;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.btnRandomSnack {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 30vw;
    height: 5vh;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 30%;
}

.btnSearch {
    cursor: pointer;
}