.heroImage {
    position: relative;
    margin-top: 30%;
    display: flex;
    justify-content: center;
}

.searchBar{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
    margin-top: 10%;
}

input.searchArea {
    width: 65%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid black;
    font-size: 16px;
}

.btnSearch {
    cursor: pointer;
}

.btnRandomSnack {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 20% auto;
}

