.menuContainer {
    z-index: 2;
    background-color: #707070;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: #707070;
    padding-top: 50px;
    left: -100%;
}

.menuSpacing {
    margin-top: 35px;
}

.menuLinks {
    padding-left: 35px;
    padding-top: 50px;
    text-decoration: none;
    font-size: 35px;
    color: #fff;
}
