.container1, .container2, .container3 {
    display: flex;
}

.multipleResultsContainer {
    top: 15%;
    left: 10%;
    position: absolute;
}

.multipleResultsItemsContainer {
    display: grid;
    height: 70vh;
    width: 80vw;
    grid-template-columns: auto auto;
    grid-row-gap: 3vh;
    grid-column-gap: 3vw;
    position: relative;
    margin: 0 auto;
}

.multipleResultsItem {
    margin: 0;
    height: 21vh;
    width: 37vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    position: relative;
}

/* Andy is thinking */
.multipleResultsItem span {
    opacity: 0;
    position: absolute;
}

.multipleResultsItem:hover span {
    opacity: 1;
}


.multipleResultsImage {
    display: block;
    height: auto;
    max-width: 35vw;
    max-height: 15vh;
    /* margin: 0 auto; */
    margin: auto;
}

.multipleResultsLabel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
    font-size: small;
}

.multipleResultsPageSearch {
    width: 100%;
    position: relative;
}

.searchTerm {
    float: left;
    width: 100%;
    border: 3px solid #FF8C2D;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    position: absolute;
    right: -50px;
    width: 40px;
    height: 36px;
    border: 1px solid #FF8C2D;
    background: #FF8C2D;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.multipleResultsBtnContainer {
    width: 30%;
    position: absolute;
    top: -4%;
    right: 0;
    transform: translate(-50%, -50%);
}

.multipleResultsFilter > div {
    position: absolute;
    top: -7%;
    height: 5%;
    width: 25%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8C2D;
    -webkit-box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    -moz-box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}