.container1, .container2, .container3 {
    display: flex;
}

.multipleResultsContainer {
    top: 15%;
    left: 10%;
    position: absolute;
}

.multipleResultsItemsContainer {
    display: grid;
    height: 70vh;
    width: 80vw;
    grid-template-columns: auto auto;
    grid-row-gap: 3vh;
    grid-column-gap: 3vw;
    position: relative;
    margin: 0 auto;
}

.multipleResultsItem {
    margin: 0;
    height: 21vh;
    width: 37vw;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    position: relative;
}

/* Andy is thinking */
.multipleResultsItem span {
    opacity: 0;
    position: absolute;
}

.multipleResultsItem:hover span {
    opacity: 1;
}


.multipleResultsImage {
    display: block;
    height: auto;
    max-width: 35vw;
    max-height: 15vh;
    /* margin: 0 auto; */
    margin: auto;
}

.multipleResultsLabel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
    font-size: small;
}

.multipleResultsFilter > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8C2D;
    box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
}

.multipleResultsContainer .searchBarFilter {
    display: flex;
}

.multipleResultsContainer .searchBarFilter .multipleResultsFilter {
    flex-grow: 1;
}

.multipleResultsContainer .searchBarComp {
    margin: 0;
    justify-content: center;
    flex-grow: 1;
}

.multipleResultsContainer .searchBarComp input {
    /*width: 32%;*/
}
