.multipleResultsContainer {
    margin-top: 16px;
}

.multipleResultsItemsContainer {
    display: grid;
    grid-template-columns: auto;  /* TAKE OUT IF  NO CHANGES */
}

.multipleResultsItemsContainer > a {
    border: 1px solid black;
}

.multipleResultsItem {
    display: flex;
    cursor: pointer;
    align-items: center;
}

.multipleResultsItem:hover span {
    opacity: .8;
    color: orange;
}

.multipleResultsItem > div {
    width: 50%;
    /* padding: 0 5%; */
    text-align: center;
}


.multipleResultsImage {
    max-height: 30vh;
    min-height: 100%;
    max-width: 100%;
}

.multipleResultsDescription {
    color: black;
    overflow: hidden;
    font-size: 16px;
    font-weight: 800;
}

.multipleResultsLabel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
    font-size: small;
}

@media only screen and (max-width: 480px) {
    .multipleResultsContainer .multipleResultsFilter .multipleResultsImage .multipleResultsItemsContainer .multipleResultsLabel{
        width: 100%;
    }
}

@media only screen and (min-width: 321px) {
    .multipleResultsContainer .multipleResultsFilter .multipleResultsImage .multipleResultsItemsContainer .multipleResultsLabel{
        width: 100%;
    }
}

@media only screen and (min-width: 576px) {

    .multipleResultsItemsContainer {
        grid-template-columns: auto auto;
        width: 95%;
        margin: 0 auto;
    }

}

@media only screen and (min-width: 768px) {

    .multipleResultsItemsContainer {
        grid-template-columns: auto auto auto;
    }

}

.logOutButton{
    padding: 5px 16px;
    font-size: 16px;
    color: #fff;
    background-color: turquoise; 
    border: 0; 
    margin: 2% 0; 
    font-weight: 200;
    margin-top: 41%; 
    position: absolute;
    right: 3%;    
}

.logOutButtonDiv{
    width: 100%; 
    text-align: right; 
    position: relative; 
}

.addSnacks{
    display: flex; 
    justify-content: center; 
}

.emptySnack{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.emptySnack img{
    height: 100%;
}