.container1, .container2, .container3 {
    display: flex;
}

.multipleResultsContainer {
    top: 28%;
    left: 10%;
    position: absolute;
}

.multipleResultsItemsContainer {
    display: grid;
    height: 70vh;
    width: 80vw;
    grid-template-columns: auto;
    grid-row-gap: 1%;
    position: relative;
    margin: 0 auto;
    justify-content: center; /*new*/
}

.multipleResultsItem {
    margin: 0;
    height: 21vh;
    display: flex;
    /* flex-direction: column; */
    border: 5px groove orange;
    cursor: pointer;
    position: relative;
}

/* Andy is thinking */
/* .multipleResultsItem span {
    opacity: 0;
    position: absolute;
} */

.multipleResultsItem:hover span {
    opacity: 1;
}

.multipleResultsItem > div {
    width: 50%;
    display: flex;
    box-shadow: 1px 0 5px orange inset;
}


.multipleResultsImage {
    display: block;
    height: auto;
    max-width: 35vw;
    max-height: 20vh;
    margin: auto;
}

.multipleResultsDescription {
    color: black;
    padding: 5%;
    overflow: hidden;
}

.multipleResultsLabel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
    font-size: small;
}

/* .multipleResultsFilter > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8C2D;
    box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
} */

