@charset "UTF-8";


.nutritionContainer{
    font-size: small;
    line-height: 1.4;
    margin: 5% auto;
}

.nutritionalText{
    margin: 0;
}

.performanceFacts {
    border: 1px solid black;
    /* margin: 20px; */
    margin: auto;
    /* float: left; */
    /* width: 290px; */
    /*width:75%;*/
    padding: 10%;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}
.performanceFacts table {
    border-collapse: collapse;
}

.performanceFactsTitle {
    font-weight: bold;
    font-size: 2rem;
    margin: 0 0 0.25rem 0;
}

.performanceFactsHeader {
    border-bottom: 10px solid black;
    padding: 0 0 0.25rem 0;
    margin: 0 0 0.5rem 0;
}
.performanceFactsHeader p {
    margin: 0;
}

.performanceFactsTable, .performanceFactsTableSmall, .performanceFactsTableGrid {
    width: 100%;
}
.performanceFactsTable thead tr th, .performanceFactsTableSmall thead tr th, .performanceFactsTableGrid thead tr th, .performanceFactsTable thead tr td, .performanceFactsTableSmall thead tr td, .performanceFactsTableGrid thead tr td {
    border: 0;
}
.performanceFactsTable th, .performanceFactsTableSmall th, .performanceFactsTableGrid th, .performanceFactsTable td, .performanceFactsTableSmall td, .performanceFactsTableGrid td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
}
.performanceFactsTable td:last-child, .performanceFactsTableSmall td:last-child, .performanceFactsTableGrid td:last-child {
    text-align: right;
}
.performanceFactsTable .blank-cell, .performanceFactsTableSmall .blank-cell, .performanceFactsTableGrid .blank-cell {
    width: 1rem;
    border-top: 0;
}
.performanceFactsTable .thick-row th, .performanceFactsTableSmall .thick-row th, .performanceFactsTableGrid .thick-row th, .performanceFactsTable .thick-row td, .performanceFactsTableSmall .thick-row td, .performanceFactsTableGrid .thick-row td {
    border-top-width: 5px;
}

.smallInfo {
    font-size: 0.7rem;
}

.performanceFactsTableSmall {
    border-bottom: 1px solid #999;
    margin: 0 0 0.5rem 0;
}
.performanceFactsTableSmall thead tr {
    border-bottom: 1px solid black;
}
.performanceFactsTableSmall td:last-child {
    text-align: left;
}
.performanceFactsTableSmall th, .performanceFactsTableSmall td {
    border: 0;
    padding: 0;
}

.performanceFactsTableGrid {
    margin: 0 0 0.5rem 0;
}
.performanceFactsTableGrid td:last-child {
    text-align: left;
}
.performanceFactsTableGrid td:last-child::before {
    content: "•";
    font-weight: bold;
    margin: 0 0.25rem 0 0;
}

.textCenter {
    text-align: center;
}

.thick-end {
    border-bottom: 10px solid black;
}

.thin-end {
    border-bottom: 1px solid black;
}

.ingredientContainer{
    /*width: 78%;*/
    margin: 5% auto;
    padding: 8%; 
    border: 1px solid black;
    word-break: break-all;
    hyphens: auto;
    line-height: 1.6;
    -webkit-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px -2px rgba(0,0,0,0.75);
}




@media only screen and (max-width: 480px) {

    .singleResultContainer .singleItemContainer .nutritionContainer .performanceFacts .ingredientContainer{
        width: 100%;
    }
}