.randomSnackContainer {
    height: 47vh;
    width: 100%;
    display: inline-block;
}

.randomButtonContainers {
    position: relative;
    height: 90%;
    text-align: center;
    padding-top: 9%;
    display: inline-block;
    width: 100%;
}

.leftRandomSnackBtn {
    height: 90%;
    left: 0;
    width: 50%;
    position: absolute;
    display: inline-block;
}



.randomLButtonSymbol, .randomRButtonSymbol {
    position: relative;
    top: 30%;
}

.rightRandomSnackBtn {
    height: 90%;
    width: 50%;
    right: 0;
    display: inline-block;
    position: absolute;
}

.randomRButtonSymbol {
    color: black;
}
