.savorySweetTitle {
    display: flex;
    justify-content:  center;
}

.pickChoicesContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    height: 65vh;
    width: 80vw;
    padding-top: 3%;
}

.pickChoices {
    height: 38%;
}

.pickChoices>img {
    height: 100%;
}
