.searchBarComp {
    margin-top: 34%;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center; 
}

.searchBarComp input {
    border: 3px solid #FF8C2D;
    padding: 5px;
    height: 20px;
    width: 80%;
    border-radius: 5px; 
    color: #9dbfaf;
    z-index: 1;   
}

/* .searchBarComp input:focus {
    color: black;
} */

.searchBarComp button {
    border: 1px solid #FF8C2D;
    background: #FF8C2D;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    display: inline-block; 
}

.searchBarContainer{
    display: flex;
    justify-content: center; 
}

