.searchBarComp {
    justify-content: center;
    display: flex;
    margin-top: 4%;
}

.searchBarComp input {
    border: 3px solid #FF8C2D;
    padding: 5px;
    height: 20px;
    width: 80vw;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchBarComp input:focus {
    color: black;
}

.searchBarComp button {
    border: 1px solid #FF8C2D;
    background: #FF8C2D;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchBarComp button i {
    font-style: normal;
}

