.searchBarComp {
    width: 100%;
    top:13%;
    display: flex;
    justify-content: center; 
    height: 40px;
}

.searchBarComp input {
    box-sizing: border-box;
    border: 0 solid #FF8C2D;
    padding: 5px;
    height: 100%;
    width: 80%;
    border-radius: 5px 0 0 5px; 
    color: #000000;
}


.searchBarComp .icon {
    background-color: lightgray;
    display: inline;
    height: 100%;
    width: 40px;
    border-radius: 0 5px 5px 0; 
}

.searchIcon {
    height: 80%; 
    filter: invert(100%); 
}