@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
/* http://paletton.com/#uid=10u0u0kqnxFgeJUlxCdvMtlxQmD */

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

