.teamTitle{
    text-align: center;
    color: turquoise;
    font-weight: 800;
    margin-top: 3%;
}

.teamGridContainer {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3px;
    padding: 2px;
}
.teamGridContainer>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:15px 0;
    font-size: 12px;
}

.snacktitle{
    text-align: center;
}

.teamGridContainer p {
    color: turquoise;
    font-weight: 700;
}

.mentors{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding:30px;
}

.profileImage{
    height: 13vh;
}


.logoImage {
    width: 30px;
}

@media only screen and (min-width: 576px) {
    .teamGridContainer {
        grid-template-columns: auto auto auto;
        margin-top: 5vh;
    }
    .teamTitle {
        margin-top: 4vh;
    }
    .profileImage{
        height: 20vh;
    }
}

@media only screen and (min-width: 768px) {
    .aboutGridContainer {
        grid-template-columns: auto auto auto;
        margin-top: 5vh;
    }
    .teamTitle {
        margin-top: 4vh;
    }
    .profileImage{
        height: 20vh;
    }
}

@media only screen and (min-width: 992px) {
    .teamGridContainer {
        grid-template-columns: auto auto auto auto auto auto;
        margin-top: 8vh;
    }
    .teamTitle {
        margin-top: 54h;
    }
    .profileImage{
        height: 20vh;
    }
}

@media only screen and (min-width: 1200px) {
    .teamGridContainer {
        grid-template-columns: auto auto auto auto auto auto;
        margin-top: 8h;
    }
    .teamTitle {
        margin-top: 4vh;
    }
    .profileImage{
        height: 20vh;
    }
}

