@font-face {
    font-family: october;
    src: url(../assets/fonts/zombie.ttf);
}

body {
    margin: 0;
}

.app {
    background-color: gray;
    color: #fff;
    font-family: october;
    font-size: 25px;
    padding: 50px;
    text-align: center;
}

.app .webs-l,
.app .webs-r {
    position: absolute;
    top: 0;
    right: 0;
}

.app .webs-l {
    left: 0;
    transform: rotateY(180deg);
}

.app .spider {
    position: absolute;
    top: 62px;
    left: 22px;
    width: 115px;
}

.app .logo {
    height: 200px;
}

.app h1 {
    letter-spacing: 4px;
    font-size: 2.4em;
    text-shadow: 0 0 10px rgba(255, 0, 0, .8)
}

.rotate {
    animation: spin 10s linear infinite;
}

.shake {
    animation: shake 15s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg)
    }
    2% {
        transform: rotate(-10deg)
    }
    10% {
        transform: rotate(-10deg)
    }
    14% {
        transform: rotate(6deg)
    }
    30% {
        transform: rotate(6deg)
    }
    32% {
        transform: rotate(18deg)
    }
    60% {
        transform: rotate(18deg)
    }
    64% {
        transform: rotate(-3deg)
    }
    85% {
        transform: rotate(-3deg)
    }
    87% {
        transform: rotate(6deg)
    }
    98% {
        transform: rotate(6deg)
    }
    100% {
        transform: rotate(0deg)
    }
}
