#menuContainer {
    width: 81vw;
    height: 100vh;
    background-color: #707070;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    overflow: scroll;
    cursor: pointer;
  }
   
  #menuContainer.hide {
    transform: translate3d(-100vw, 0, 0);

  }
   
  #menuContainer.show {
    transform: translate3d(0vw, 0, 0);
    overflow: hidden;
  }

  .menuLinkStyle {
      margin-top: 11vh;
      margin-left: 5%;
      font-size: 25px;
      border-bottom: 1px solid white;
      padding-bottom: 1%;
      width: 75%;
      color: #FFF;
      text-decoration: none;
      font-weight: 200; 
  }

  .invisibleMenuContainer.show{
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      position: fixed;
      z-index: 2;
  }

  
