#menuButtonContainer {
    top: 5%;
    cursor: pointer;
    margin-left: 2%;
    position: relative;
    z-index: 3;
}

.topBar, .midBar, .botBar {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.animateBar .topBar {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-4px, 6px);
}

.animateBar .midBar {
    opacity: 0;
}

.animateBar .botBar {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-4px, -9px);
}

@media screen and (min-width: 992px){
    .menuButtonContainer{
        opacity: 0;
    }
}
