.navBar{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    margin: 0px;
    height: 19vh;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF8C2D;
    -webkit-box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    -moz-box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    box-shadow: 5px 10px 15px 0px rgba(234,107,2,0.61);
    color: #ffffff;
    cursor: pointer;
    /* https://www.cssmatic.com/box-shadow */
}

.logo{
    display: flex;
    justify-content: center;
    height: 20%;
    /*width: 20%;*/
    margin-right: 10%;
}



img {
    height: 11vh;
    width: 32vw;
    display: flex;
}

.navImage{
    display: flex;
    justify-content: center;
    margin-right: 10%;
}