.navBar{
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0px;
    z-index: 1;
    background-color:  #FF8C2D;
    color: #ffffff;
    cursor: pointer;
    /* padding: 3%; */
    display: flex;
    flex-flow: column nowrap;
}

.navBar .nav-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2%;
    flex-flow: row wrap;
}

.navBar .menu {
    display: inline-block;
    /* background-color: #ac2424; */
    width: 15%;
}

.navBar .profile {
    vertical-align: top;
    display: inline-block;
    right: 0;
    width: 15%;
    text-align: center;
}

.profile .profileImage {
    width: 50px;
    height: 50px;
}

.navSearch{
    vertical-align: top;
    display: inline-block;
    width: 70%;
    height: 100%;
    text-align: center;
}

.snackImage {
    max-height: 10vh;
}


.nav-content > div{
     width: 100vw;
}
